<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" respawn="false" output="screen" />

  <!-- start gui -->
  <!--node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/-->

  <!-- include our robots -->
  <include file="$(find obstacle_avoidance_simulation)/launch/robots.launch"/>
</launch>
