<launch>
  <!-- No namespace here as we will share this description.
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0.5 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -0.5 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -0.5 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot3" />
    </include>
  </group>

  <!-- BEGIN ROBOT 4-->
  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 0.5 -z 0" />
      <arg name="robot_name"  value="Robot4" />
    </include>
  </group>

  <!-- BEGIN ROBOT 5-->
  <group ns="robot5">
    <param name="tf_prefix" value="robot5_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1.5 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot5" />
    </include>
  </group>

  <!-- BEGIN ROBOT 6-->
  <group ns="robot6">
    <param name="tf_prefix" value="robot6_tf" />
    <include file="$(find obstacle_avoidance_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1.5 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot6" />
    </include>
  </group>

</launch>
